# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference
version: 2
updates: 
  - package-ecosystem: "nuget"
    directory: "/src"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
