version: 2.3.1.{build}
image: Visual Studio 2022
platform: Any CPU
shallow_clone: true
clone_depth: 1
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
environment:
  Configs: 
    Release
    ReleaseTrimmed
  Platforms:
    win-x64
    win-arm64
    win-x86
    linux-x64
    linux-arm64
  NuGet: 1
  Plugins: 1
  PluginsCount: 999
  Clean: 0
  Test: 1
  NetVersion: net8.0
  SelfSigningPasswordDISABLED:
    secure: tC3u6WA0oWdjXzbLX61Ux2tBK0KhFTT9FgUZFn0Nx0pY045twcsFBvRL+Di6SE80Nc88xaM/xloHGUAQoIq4OANLNg0BEsDYPnhziZDiLBo=

clone_script:
  - cmd: >-
      git clone -q --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%
      && cd %APPVEYOR_BUILD_FOLDER%
      && git checkout -qf %APPVEYOR_REPO_COMMIT%
      && git submodule update --init --recursive

before_build:
  - cmd: dotnet --version
  - ps: cd $env:APPVEYOR_BUILD_FOLDER\build\
  - ps: . .\01-helpers.ps1

build_script:
  - ps: .\02-build.ps1

after_build:
  - ps: .\03-create-artifacts.ps1
  - ps: >-
     if ($env:APPVEYOR_REPO_TAG -eq "true") {
        .\04-gather-signingbundle.ps1
        Get-ChildItem $env:APPVEYOR_BUILD_FOLDER\out\bundle\ | Foreach-Object {
            Push-AppveyorArtifact $_.FullName -FileName $_.Name
        }
     } else {
        Get-ChildItem $env:APPVEYOR_BUILD_FOLDER\out\unsigned\ | Foreach-Object {
            Push-AppveyorArtifact $_.FullName -FileName $_.Name
        }
     }

test_script:
  - ps: >-
     if ($env:Test -eq "1") {
        cd $env:APPVEYOR_BUILD_FOLDER/src/main.test/
        nuget install Appveyor.TestLogger -Version 2.0.0
        cd $env:APPVEYOR_BUILD_FOLDER
        dotnet test ./src/main.test/wacs.test.csproj -c Release --test-adapter-path:. --logger:Appveyor 
     }

deploy:
  - provider: Webhook
    url: https://app.signpath.io/API/v1/e396b30d-0bbf-442f-b958-78da3e8c1b7e/Integrations/AppVeyor?ProjectSlug=simple-acme&SigningPolicySlug=release-signing&ArtifactConfigurationSlug=signingbundle
    authorization:
        secure: fK/EgkAVGI8Z4caVk1SVVaykvVN9kAGHRXp9GCpgOzE7ghPI6ieYqzK5oOII7ORFKRf8OisPKcZFaRklBH4ikQ==
    on:  
        APPVEYOR_REPO_TAG: true