version: 2.3.0.{build}
image: Visual Studio 2022
platform: Any CPU
shallow_clone: true
clone_depth: 1
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
environment:
  Configs: 
    Release
  Platforms:
    win-x64
  NuGet: 0
  Plugins: 0
  PluginsCount: 999
  Clean: 0
  NetVersion: net8.0
  SelfSigningPasswordDISABLED:
    secure: tC3u6WA0oWdjXzbLX61Ux2tBK0KhFTT9FgUZFn0Nx0pY045twcsFBvRL+Di6SE80Nc88xaM/xloHGUAQoIq4OANLNg0BEsDYPnhziZDiLBo=

clone_script:
  - cmd: >-
      git clone -q --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%
      && cd %APPVEYOR_BUILD_FOLDER%
      && git checkout -qf %APPVEYOR_REPO_COMMIT%
      && git submodule update --init --recursive

before_build:
  - cmd: dotnet --version
  - ps: cd $env:APPVEYOR_BUILD_FOLDER\build\
  - ps: . .\01-helpers.ps1

build_script:
  - ps: .\02-build.ps1

test_script:
  - cmd: cd %APPVEYOR_BUILD_FOLDER%/src/main.test/
  - cmd: nuget install Appveyor.TestLogger -Version 2.0.0
  - cmd: cd %APPVEYOR_BUILD_FOLDER%
  - cmd: dotnet test ./src/main.test/wacs.test.csproj -c Release --test-adapter-path:. --logger:Appveyor 

after_build:
  - ps: .\03-gather-signingbundle.ps1

deploy:
  - provider: Webhook
    url: https://app.signpath.io/API/v1/simple-acme/Integrations/AppVeyor?ProjectSlug=simple-acme&SigningPolicySlug=test-signing&ArtifactConfigurationSlug=initial
    authorization:
        secure: /VER5tKSoGisT3oNWr0QMXvLkcI2ctMBL6OAO+LOVVZZ6fCuUQdaTZH22AIOrayYHty4wuijfltDdKAZU9oZ5g==

after_deploy:
  - ps: .\04-scatter-signingbundle.ps1
  - ps: .\05-create-artifacts.ps1
  - ps: .\07-create-artifactmeta.ps1
  - ps: .\08-clean.ps1
  - ps: >-
     Get-ChildItem $env:APPVEYOR_BUILD_FOLDER\out\artifacts\ | Foreach-Object {
        Push-AppveyorArtifact $_.FullName -FileName $_.Name
     }