name: Unit tests

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
    - name: Install dependencies
      run: dotnet restore ./src/main.test/wacs.test.csproj
    - name: Build
      run: dotnet build ./src/main.test/wacs.test.csproj --configuration Release --no-restore
    - name: Test
      run: dotnet test ./src/main.test/wacs.test.csproj --no-restore --verbosity normal
